<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<div class="container" th:fragment="content">


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Panel partnera</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <value class="fa fa-euro fa-3x"></value>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${currency_rates.get('EUR_PLN').rateValue}" />
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer-own">
                            <span class="pull-right" th:text="${currency_rates.get('EUR_PLN').addDate}" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <value class="fa fa-dollar fa-3x"></value>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${currency_rates.get('USD_PLN').rateValue}" />
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer-own">
                            <span class="pull-right" th:text="${currency_rates.get('USD_PLN').addDate}" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <value class="fa fa-gbp fa-3x"></value>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${currency_rates.get('GBP_PLN').rateValue}+' zł'" />
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer-own">
                            <span class="pull-right" th:text="${currency_rates.get('GBP_PLN').addDate}+' zł'" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <value class="fa fa-cny fa-3x"></value>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" th:text="${currency_rates.get('CNY_PLN').rateValue}+' zł'" />
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer-own">
                            <span class="pull-right" th:text="${currency_rates.get('CNY_PLN').addDate}+' zł'" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-9">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ostatnio wykonane transakcje
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Rodzaj transakcji</th>
                                    <th>Waluta</th>
                                    <th>Kwota</th>
                                    <th>Odbiorca</th>
                                    <th>Status</th>
                                    <th>Szczegóły</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2018-08-19 09:02:45</td>
                                    <td>Zakup losu</td>
                                    <td>PLN</td>
                                    <td>-20,00</td>
                                    <td>Kasyno</td>
                                    <td>Zakończona</td>
                                    <td>Podgląd</td>
                                </tr>
                                <tr>
                                    <td>2018-08-18 23:27:50</td>
                                    <td>Transfer funduszy</td>
                                    <td>PLN</td>
                                    <td>-100,00</td>
                                    <td>krisswoj@gmail.com</td>
                                    <td>Zakończona</td>
                                    <td>Podgląd</td>
                                </tr>
                                <tr>
                                    <td>2018-08-18 23:22:47</td>
                                    <td>Dodanie środków</td>
                                    <td>PLN</td>
                                    <td>200,00</td>
                                    <td>System</td>
                                    <td>Zakończona</td>
                                    <td>Podgląd</td>
                                </tr>
                                <tr>
                                    <td>2018-08-18 23:20:04</td>
                                    <td>Zakup waluty</td>
                                    <td>USD</td>
                                    <td>68,11</td>
                                    <td>System</td>
                                    <td>Zakończona</td>
                                    <td>Podgląd</td>
                                </tr>
                                <tr>
                                    <td>2018-08-18 23:20:04</td>
                                    <td>Sprzedaż waluty</td>
                                    <td>PLN</td>
                                    <td>-250,00</td>
                                    <td>System</td>
                                    <td>Zakończona</td>
                                    <td>Podgląd</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>


            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <value class="fa fa-dollar fa-fw"></value> Twój portfel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <strong>zł</strong><value class="fa fa-fw"></value> PLN
                                <span class="pull-right text-muted small"><em th:text="${user_balance.get('PLN')}" />
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <value class="fa fa-euro fa-fw"></value> EUR
                                <span class="pull-right text-muted small"><em th:text="${user_balance.get('EUR')}" />
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <value class="fa fa-dollar fa-fw"></value> USD
                                <span class="pull-right text-muted small"><em th:text="${user_balance.get('USD')}" />
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <value class="fa fa-cny fa-fw"></value> CNY
                                <span class="pull-right text-muted small"><em th:text="${user_balance.get('CNY')}" />
                                    </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">Aktualizuj kurs walut</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <!-- /.panel .chat-panel -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</div>
</html>








